<!DOCTYPE html>
<html>
  <head>
    <title>Notes Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body class="user-select-none">
    {% include "lab4_navbar.html" %}

    <div class="container mt-4 text-center">
      <h1 class="text-center">Add a New Note</h1>

      {% load crispy_forms_tags %}
      <form
        action=""
        method="POST"
        class="d-flex flex-column mx-auto"
        style="width: 400px"
      >
        {% csrf_token %} {{ form | crispy }}
        <input type="submit" value="Submit" class="btn btn-primary mt-4" />
      </form>
    </div>
  </body>
</html>
