<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body class="user-select-none">
    {% include "lab4_navbar.html" %}

    <div class="container mt-4 text-center">
      <h1 class="text-center">📝 Notes</h1>
      <h6 class="text-center mt">Card Format</h6>

      {% if notes %}
      <div
        class="
          d-flex
          flex-row flex-wrap
          justify-content-start
          align-items-center
          mt-4
        "
      >
        {% for note in notes %}
        <div
          class="
            card
            d-flex
            flex-col
            justify-content-start
            align-items-start
            m-2
            py-2
            px-3
            w-25
            shadow-sm
          "
        >
          <b class="align-self-center fs-4">{{ note.title }}</b>
          <p class="d-inline-block mt-2 mb-0 mw-100 text-truncate">
            To: <b>{{ note.addressee }}</b>
          </p>
          <p class="d-inline-block mw-100 text-truncate">
            From: <b>{{ note.addresser }}</b>
          </p>
          <p class="d-inline-block mw-100 text-truncate">{{ note.message }}</p>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <p>No notes found</p>
      {% endif %}
    </div>
  </body>
</html>
