<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body class="user-select-none">
    {% include "lab4_navbar.html" %}

    <div class="container mt-4 text-center">
      <h1 class="text-center">📝 Notes</h1>
      <h6 class="text-center mt">Table Format</h6>

      {% if notes %}
      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          {% for note in notes %}
          <tr>
            <td>{{ note.addressee }}</td>
            <td>{{ note.addresser }}</td>
            <td>{{ note.title }}</td>
            <td class="user-select-all">{{ note.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>No notes found</p>
      {% endif %}
    </div>
  </body>
</html>
