<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="/lab-4">📝 Notes</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/lab-4">Table</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/lab-4/note-list">Card</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/lab-4/add-note">Add Note</a>
      </li>
    </ul>
  </div>
</nav>
