{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
      type="text/JavaScript"
      src="{% static 'js/lab5_index.js' %}"
    ></script>
  </head>

  <body class="user-select-none">
    {% include "lab5_navbar.html" %}

    <!-- START Notes table content -->
    <div class="container mt-4 text-center">
      <h1 class="text-center">📝 Notes</h1>
      <h6 class="text-center mt">Table Format</h6>

      {% if notes %}
      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="table"></tbody>
      </table>

      {% else %}
      <p>No notes found</p>
      {% endif %}

      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#viewModal"
      >
        Launch demo modal
      </button>
    </div>
    <!-- END Notes table content -->

    <!-- START View note modal -->
    <div
      class="modal fade"
      id="viewModal"
      tabindex="-1"
      aria-labelledby="modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Note title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body d-flex flex-column justify-content-start">
            <p><b>To: </b><span id="modalAddressee">Note receiver</span></p>
            <p><b>From: </b><span id="modalAddresser">Note sender</span></p>
            <p><b>Message: </b><br /><span id="modalMessage">Note</span></p>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END View note modal -->
  </body>
</html>
