<!DOCTYPE html>
<html>
  <head>
    <title>Friends List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body class="container mt-4 text-center user-select-none">
    <h1 class="text-center">👫 Friends</h1>

    {% if friends %}
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">NPM</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
        <tr>
          <td>{{ friend.name }}</td>
          <td>{{ friend.npm }}</td>
          <td>{{ friend.date_of_birth }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have no friends 💔</p>
    {% endif %}

    <a href="/lab-3/add" class="btn btn-primary mt-4">+ Add Friend</a>
  </body>
</html>
